*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section:20px;

}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}


h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}
.small-bold-text{
    font-size: 1.5rem;
}

.container{
    max-width: 1180px;
    margin-inline: auto;

}
.flex{
    display: flex;
    align-items: center;
    
}
.ul{
    list-style: none;
}
.hover-links{
    color: var(--accent-color-dark);
    transition: 250ms ease-out;
    /* color: red; */
}
.hover-links:hover{
    color: var(--primary-text-color);
    /* color: red; */
}
.primary-button{
    background-color: var(--accent-color);
    border: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
}

/* top banner */
.top-banner{
    background-color: #4fb3d4;
    background-image: url('imgages/asset\ 32.png');
    background-size: 300px;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
/* nav */

.main-nav{
    justify-content: space-between;
    margin-top: 10px;
}
.company-logo img{
    width: 200px;
}
.nav-links ul{
    justify-content: right;
    gap: 40px;
}
.nav-links{
    flex-basis: 730px;
}
/* 
header */

.header-section{
    justify-content: center;
    gap: 50px;
}
.header h1{
    margin-top: 20px;
}
.get-started{
    margin-top: 20px;
}
.header-section img{
    width:600px;
    margin-top: 65px;

}


/* companies */

.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);

}
.logos{
    justify-content: space-between;
}
.logo{
    flex-wrap: wrap;
}


/* feature */
.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image:url(imgages/oval.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}
.features-header{
    text-align: center;
}

.features-header h2{
    margin-bottom: 20px;
}
.featues-area{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    gap: 40px;
}

.featues-card{
    flex-direction: column;
    /* padding: 10px; */
    gap: 20px;
    max-width: 30%;
}

.featues-card img{
    margin-bottom: 17px;
    margin-top: 20px;
}



/* big-feature */

.big-features-section{
    padding: 30px var(--padding-inline-section) 0;

}

.big-features-container{
    gap: 30px;

}

.feature-img img{
    width: 100%;
}

.feature-description{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.pp{
    flex-direction: column;
    text-align: left;

}

.pp_image img{
   
    max-height: 30px;
    margin-bottom: 30px;
}

.pp_image{
    flex-direction: flex-start;
}
.pp_info{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
}
/* example */
.example-header{
    flex-direction: column;
    gap: 20px;
}

.examples-area{
    justify-content: space-between;
    margin-block: 30px;
}
.example-card{
    width: 23%;
    position:relative;
    min-height: 300px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8 )),url("imgages/ex_1.jpg") ;
}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    
}

/* 
cta */

.cta-section{
    background-color: #183b54;
    padding:120px var(--padding-inline-section) 80px;
}
.sta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
}
.sta-section-container p{
    color: white;
    margin-top: 20px;
}
/* footer */
footer{
    background-color: #ebf2fa;
    padding-block: 20px;
   
}
.link-colomun{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-container{
    align-items: self-start;
    justify-content: space-between;
}